<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="views/output.css">
    <link rel="stylesheet" href="/output.css">
    <title>Document</title>
</head>

<body>

    <header class="h-16 bg-amber-400">
        <div>
            <h1 class="">LOGO</h1>
            <div id="burger" class="relative bg-cyan-400 cursor-pointer w-12 h-12 rounded">
                <span class="h-1 w-10 inline-block translate-x-1 absolute left-6 rounded bg-white top-4 "></span>
                <span class="h-1 w-10 inline-block translate-x-1 absolute left-6 rounded bg-white top-6"></span>
                <span class="h-1 w-10 inline-block translate-x-1 absolute left-6 rounded bg-white top-8"></span>
            </div>
        </div>
    </header>

    <script>
        const id = document.getElementById('burger');
        id.addEventListener('click', () => {
            id.classList.add('active')
        });
    </script>